code, .MathJax_Display {
  overflow: scroll;
  -ms-overflow-style: none;
  //noinspection CssUnknownProperty
  scrollbar-width: none;

  $scrollbar-broadness: 5px;

  &::-webkit-scrollbar {
    width: $scrollbar-broadness;
    height: $scrollbar-broadness;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scrollbar-broadness;
    background-color: #949597;
  }
}
/*
 * アニメーション
 */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
