<IfModule mod_rewrite.c>

# RewriteEngineをOn、ドキュメントルートを設定する ---
RewriteEngine on
RewriteBase /

# 404リダイレクト ---
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ 404.html

</IfModule>
